In [1]:
import numpy as np
import pandas as pd
import re
import tensorflow as tf

# from sklearn.impute import SimpleImputer
# from sklearn.pipeline import Pipeline
# from sklearn.preprocessing import LabelEncoder, StandardScaler

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.compose import ColumnTransformer
from sklearn.datasets import fetch_openml
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV

print(f"TensorFlow (v{tf.version.VERSION})")

TensorFlow (v2.3.0)

In [3]:
physical_device = tf.config.list_physical_devices('GPU')[0]
try:
  tf.config.experimental.set_memory_growth(physical_device, True)
except:
  tf.print("Invalid device or cannot modify virtual devices once initialized. Device name {}".format(
      physical_device.name
  ))
  pass

Invalid device or cannot modify virtual devices once initialized. Device name /physical_device:GPU:0

In [2]:
tf.config.list_logical_devices()

[LogicalDevice(name='/device:CPU:0', device_type='CPU'),
 LogicalDevice(name='/device:XLA_CPU:0', device_type='XLA_CPU'),
 LogicalDevice(name='/device:GPU:0', device_type='GPU'),
 LogicalDevice(name='/device:XLA_GPU:0', device_type='XLA_GPU')]

In [4]:
df = pd.read_csv("data/train.csv")

df.head()

f:\RaifhackDS2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,city,floor,id,lat,lng,osm_amenity_points_in_0.001,osm_amenity_points_in_0.005,osm_amenity_points_in_0.0075,osm_amenity_points_in_0.01,osm_building_points_in_0.001,...,reform_mean_floor_count_1000,reform_mean_floor_count_500,reform_mean_year_building_1000,reform_mean_year_building_500,region,total_square,street,date,realty_type,price_type
0,Пермь,NaN,COL_0,57.998207,56.292797,4,19,35,52,0,...,5.762963,5.530612,1964.118519,1960.959184,Пермский край,32.0,S27289,2020-01-05,10,0
1,Шатура,NaN,COL_1,55.574284,39.543835,3,24,37,59,0,...,2.894366,3.527778,1952.321678,1957.222222,Московская область,280.0,S17052,2020-01-05,10,0
2,Ярославль,NaN,COL_2,57.619140,39.850525,1,30,67,128,0,...,6.141414,7.222222,1968.150000,1973.370370,Ярославская область,297.4,S16913,2020-01-05,110,0
3,Новокузнецк,NaN,COL_3,53.897083,87.108604,0,0,5,21,0,...,8.581081,9.000000,1992.716216,2014.000000,Кемеровская область,190.0,S10148,2020-01-05,110,0
4,Москва,NaN,COL_4,55.802590,37.487110,1,23,64,153,0,...,7.263889,5.684211,1963.229167,1960.500000,Москва,60.2,S1338,2020-01-05,10,0

In [5]:
targets = df['per_square_meter_price']

In [6]:
df = df.drop(columns=[
    "id", "date", "lng", "lat", "per_square_meter_price",
    "osm_finance_points_in_0.001", "osm_finance_points_in_0.005", "osm_finance_points_in_0.0075", "osm_finance_points_in_0.01",
    "osm_hotels_points_in_0.005", "osm_hotels_points_in_0.0075", "osm_hotels_points_in_0.01",
    "osm_train_stop_points_in_0.005", "osm_train_stop_points_in_0.0075", "osm_train_stop_points_in_0.01",
    "osm_transport_stop_points_in_0.005", "osm_transport_stop_points_in_0.0075", "osm_transport_stop_points_in_0.01",
    "osm_crossing_points_in_0.001", "osm_crossing_points_in_0.005", "osm_crossing_points_in_0.0075", "osm_crossing_points_in_0.01",
    "osm_crossing_closest_dist"
])

In [7]:
def parse_floor(floor):
    try:
        return str(int(float(floor)))
    except Exception as e:
        if isinstance(floor, str):
            splits = [x.strip() for x in floor.split(',') if x.strip() != '']
            if len(splits) == 1:
                if re.match("[0-9]\s*-\s*[0-9]", floor):
                    return "multifloors"
                if re.match("[0-9]\s*-\s*\D", floor):
                    return floor.split('-')[0].strip()
                if "+" in floor:
                    return "multifloors"
                return str(floor)
            else:
                return "multifloors"
        if np.isnan(floor):
            return "nan"

In [8]:
df["floor"] = df['floor'].map(lambda x: parse_floor(x))
df['street'] = df['street'].fillna('nan')
df

,city,floor,osm_amenity_points_in_0.001,osm_amenity_points_in_0.005,osm_amenity_points_in_0.0075,osm_amenity_points_in_0.01,osm_building_points_in_0.001,osm_building_points_in_0.005,osm_building_points_in_0.0075,osm_building_points_in_0.01,...,reform_house_population_500,reform_mean_floor_count_1000,reform_mean_floor_count_500,reform_mean_year_building_1000,reform_mean_year_building_500,region,total_square,street,realty_type,price_type
0,Пермь,nan,4,19,35,52,0,0,0,0,...,765.0,5.762963,5.530612,1964.118519,1960.959184,Пермский край,32.000000,S27289,10,0
1,Шатура,nan,3,24,37,59,0,0,0,1,...,514.0,2.894366,3.527778,1952.321678,1957.222222,Московская область,280.000000,S17052,10,0
2,Ярославль,nan,1,30,67,128,0,0,1,1,...,573.0,6.141414,7.222222,1968.150000,1973.370370,Ярославская область,297.400000,S16913,110,0
3,Новокузнецк,nan,0,0,5,21,0,0,0,1,...,54.0,8.581081,9.000000,1992.716216,2014.000000,Кемеровская область,190.000000,S10148,110,0
4,Москва,nan,1,23,64,153,0,1,1,1,...,619.0,7.263889,5.684211,1963.229167,1960.500000,Москва,60.200000,S1338,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279787,Томск,1,2,33,111,222,0,0,1,1,...,979.0,5.714286,5.882353,1972.260870,1973.460000,Томская область,358.320073,S11114,10,1
279788,Санкт-Петербург,1,10,274,718,1340,0,2,5,16,...,1659.0,4.719388,4.706667,1876.994898,1873.186667,Санкт-Петербург,119.637556,S28440,110,1
279789,Калининград,3,0,12,34,84,0,2,2,2,...,460.0,3.950413,4.885714,1964.258333,1970.571429,Калининградская область,312.789725,S6671,10,1
279790,Кемерово,1,5,57,100,134,0,0,0,0,...,429.0,4.691489,4.125000,1957.425532,1954.625000,Кемеровская область,89.201305,S17667,110,1
279791,Киров,1,1,23,64,113,0,0,0,0,...,766.0,5.069124,4.776119,1972.599078,1971.794118,Кировская область,172.855871,S5611,110,1

In [9]:
features = df.columns

numeric_features = df._get_numeric_data().columns
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler()),
    ('imputer', SimpleImputer(strategy="constant", fill_value=-1))
])

categorical_features = list(set(features) - set(numeric_features))
categorical_transformer = Pipeline(steps=[
    ('encoder', OrdinalEncoder()),
    ('imputer', SimpleImputer(strategy="constant", fill_value=-1))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features),
        # ('imputer', SimpleImputer(strategy="constant", fill_value=-1), features)
    ])

data_tranform = Pipeline(steps=[
    ('preprocessor', preprocessor),
])

model = GradientBoostingRegressor(verbose=3, n_estimators=200)

data = data_tranform.fit_transform(df)

In [10]:
x_train, x_test, y_train, y_test = train_test_split(data, targets.values, train_size=0.7)

In [51]:
BATCH_SIZE = 128

train_dataset = tf.data.Dataset.from_tensor_slices((x_train, y_train))
train_dataset = train_dataset.batch(BATCH_SIZE)

test_dataset = tf.data.Dataset.from_tensor_slices((x_test, y_test))
test_dataset = test_dataset.batch(BATCH_SIZE)

print(train_dataset)
print(test_dataset)

<BatchDataset shapes: ((None, 54), (None,)), types: (tf.float64, tf.float64)>
<BatchDataset shapes: ((None, 54), (None,)), types: (tf.float64, tf.float64)>

In [78]:
model = tf.keras.Sequential([
    tf.keras.layers.InputLayer((54,)),
    tf.keras.layers.Dense(27, activation='relu', kernel_initializer='glorot_uniform'),
    tf.keras.layers.Dropout(0.3),
    tf.keras.layers.Dense(13, activation='relu',  kernel_initializer='glorot_uniform'),
    tf.keras.layers.Dropout(0.3),
    tf.keras.layers.Dense(1)
])

model.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_16 (Dense)             (None, 27)                1485
_________________________________________________________________
dropout (Dropout)            (None, 27)                0
_________________________________________________________________
dense_17 (Dense)             (None, 13)                364
_________________________________________________________________
dropout_1 (Dropout)          (None, 13)                0
_________________________________________________________________
dense_18 (Dense)             (None, 1)                 14
=================================================================
Total params: 1,863
Trainable params: 1,863
Non-trainable params: 0
_________________________________________________________________

In [90]:
lr_schedule = tf.keras.optimizers.schedules.ExponentialDecay(
    initial_learning_rate=1e-2,
    decay_steps=10000,
    decay_rate=0.9)

model.compile(
    optimizer=tf.keras.optimizers.(learning_rate=0.001),
    loss='mse'
)

In [91]:
class VerboseCallback(tf.keras.callbacks.Callback):
    def on_epoch_end(self, epoch, logs=None):
        if epoch == 0 or (epoch+1) % 10 == 0:
            print("Epoch {:4d}: loss - {:.3f}, val_loss - {:.3f}".format(
                epoch+1, logs['loss'], logs['val_loss']
            ))

In [92]:
model.fit(
    train_dataset,
    epochs=10,
    shuffle=True,
    validation_data=test_dataset,
    # callbacks=[VerboseCallback()],
    verbose=2
)

Epoch 1/10
1531/1531 - 5s - loss: 17636235264.0000 - val_loss: 16241595392.0000
Epoch 2/10
1531/1531 - 5s - loss: 17591947264.0000 - val_loss: 16330903552.0000
Epoch 3/10
1531/1531 - 5s - loss: 17780639744.0000 - val_loss: 16153968640.0000
Epoch 4/10
1531/1531 - 5s - loss: 17633196032.0000 - val_loss: 16191210496.0000
Epoch 5/10
1531/1531 - 5s - loss: 17680400384.0000 - val_loss: 16123193344.0000
Epoch 6/10
1531/1531 - 4s - loss: 17587990528.0000 - val_loss: 16185243648.0000
Epoch 7/10
1531/1531 - 5s - loss: 17601144832.0000 - val_loss: 16142909440.0000
Epoch 8/10
1531/1531 - 5s - loss: 17649244160.0000 - val_loss: 16204210176.0000
Epoch 9/10
1531/1531 - 5s - loss: 17578780672.0000 - val_loss: 16336305152.0000
Epoch 10/10
1531/1531 - 4s - loss: 17591035904.0000 - val_loss: 16360160256.0000

In [82]:
def get_deviation(y_pred: float, y_true: float) -> float:
    return (y_true - y_pred) / y_true

def get_hit(deviation: float, w: float=1.1) -> float:
    if deviation < -0.6:
        return 9 * w
    if deviation >= -0.6 and deviation < -0.15:
        return w * ((1 + deviation / 0.15) ** 2)
    if deviation >= -0.15 and deviation < 0.15:
        return 0.0
    if deviation >= 0.15 and deviation < 0.6:
        return (deviation / 0.15 - 1) ** 2
    if deviation >= 0.6:
        return 9.0

def score(y_pred: list, y_true: list, w: float=1.1) -> float:
    y_pred = list(y_pred)
    y_true = list(y_true)
    cum_sum = 0
    for i in range(len(y_pred)):
        dev = get_deviation(y_pred[i], y_true[i])
        cum_sum += get_hit(dev, w)
    return cum_sum / len(y_pred)

pred = model.predict(x_test)

score(pred, y_test)

array([5.44069804])

In [83]:
pred = model.predict(x_train)

score(pred, y_train)

array([5.43148851])

In [84]:
pred = model.predict(data)

score(pred, targets)

array([5.43208392])